---
import { getCollection } from 'astro:content';
const cname = 'text';
  const blogEntries = await getCollection(cname);
---

<ul>
{
blogEntries.map(a =>( 
<li><a href={`/${cname}/${a.slug}`}>{a.data.title}</a></li>
))
}
</ul>
