---
title: "Text"
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rouse's A Greek Boy at Home">
<ul>
<li><a href="rouse_corrected_text/">A Greek Boy at Home</a></li>
<li><a href="/rouse-greek-boy-pwa/incarnation-interlinear/">On the Incarnation (Interlinear)</a></li>
</Layout>
