---
title: "Text"
import Layout from '../layouts/Layout.astro';
---

<Layout title="Greek texts PWA">
<ul>
<li><a href="rouse_corrected_text/">A Greek Boy at Home</a></li>
<li><a href="/rouse-greek-boy-pwa/incarnation-interlinear/">On the Incarnation (Interlinear)</a></li>
<li><a href="/rouse-greek-boy-pwa/1k-interlinear/">On the Incarnation (Interlinear)</a></li>
<li><a href="/rouse-greek-boy-pwa/lgpsi-001/">LGPSI Chapter 1</a></li>
<li><a href="/rouse-greek-boy-pwa/lgpsi-002/">LGPSI Chapter 2</a></li>
<li><a href="/rouse-greek-boy-pwa/boy-temple/">Simplified retelling of Luke 2:41-51</a></li>
<li><a href="/rouse-greekboy-pwa/about/">About, source, and license info</a></li>
</ul>

</Layout>
